{% extends "base.html" %}
{% block content %}
<div id="header">
<h1>{% if title %} {{ title }} {% else %} Home budget {% endif %}</h1>
</div>
<div id="overview">
        <form action="" method="post" name="post">
        Budget: {{ form.name }} <br>
        Desc: {{ form.desc }}
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
</div>
<div id="income">

</div>
<div id="spending">
	
</div>
<div id="message">
</div>
<noscript><div id="noscript">Need's JavaScript to work!</div></noscript>
{% endblock %}
